{
  "d4adfc76-f5f4-40b0-8e28-8a51a12f5e46":(
    transform: (
      id: "Middle",
      local_x: 100.,
      local_y: -25.,
      width: 800.,
      height: 175.,
      tab_order: 1,
      anchor: TopLeft,
    ),
    text: (
      text: "Middle",
      font: File("font/square.ttf", ("TTF", ())),
      font_size: 75.,
      color: (0.2, 0.2, 1.0, 1.0),
      align: Middle,
    )
  )
}